body{
    background-image: url('bc4.jpg');
    background-size: 100%;
    color:black;
    font-family: 'Balsamiq Sans', cursive;
}

.container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right:2%;
    border:solid black;
}

#title{
    text-align: center;
    color:rgb(44, 84, 110);
    margin-bottom: 0%;
    font-size: 400%;
}

input{
    font-size:75%;
}

#description{
    text-align:center;
    margin-top:0%;
    font-size: 150%;
}


#pinfo{
    font-size:150%;
}

#pinfo #name{
    width:80%;
    height: 5vh;
    margin-top:0.5%;
    margin-bottom: 2%;
    border:solid black;
}

#pinfo #email{
    width:80%;
    height: 5vh;
    margin-top:0.5%;
    margin-bottom: 2%;
    border:solid black;
}

#pinfo #number{
    width:80%;
    height: 5vh;
    margin-top:0.5%;
    margin-bottom: 2%;
    border:solid black;
}

#dpdown{
    font-size: 150%;
}

option{
    font-size:120%;
}

#dropdown{
    width:50%;
    height: 6vh;
    border: solid black;
    margin-bottom: 2%;
}

#radiobut{
    font-size: 150%;
    margin-bottom: 2%;
}

#checkb{
    font-size:150%;
    margin-bottom: 2%;
}

#txtarea{
    width:80%;
    border: solid black;
    height: 10vh;
}

#suggest{
    font-size: 150%;
    margin-bottom: 0%;
    margin-top:0%;
}

#butts{
    font-size:80%;
}

#boxes{
    font-size:80%;
}

#subbutton{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 150%;
}